.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}
.container {
  width: 100%;
}

.example-viewport {
  height: 100px;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.example-item {
  height: 30px;
}
#selectLeague {
  width: 300px;
}
.example-tooltip-red {
  background: #b71c1c;
}