<p class="h4 mb-4 text-center"><strong>Track Odds's Configuration</strong> </p>
<p class="h4 mb-3 text-center">In-PlayEvent</p>
<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Select a League</ng-template>
      <mat-form-field id="selectLeague">
        <mat-select placeholder="League" formControlName="firstCtrl">
          <mat-option *ngFor="let league of onlyLeagues" (click)="getHomeAndAway(league.id)" value="valid">
            {{league.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Select an In-PlayMatch</ng-template>

      <cdk-virtual-scroll-viewport itemSize="10" class="example-viewport">
        <div class="container">
          <div class="example-item">
            <mat-radio-group class="example-radio-group" name="ss" formControlName="secondCtrl" [(ngModel)]="FI">
              <mat-radio-button class="example-radio-button" *ngFor="let match of leagueSelected; let i = index"
                [value]="match.id">
                <font color=green> {{match.home}}</font>
                <font color=black> - </font>
                <font color=red>{{match.away}}</font>
                Score <strong>{{match.ss}}</strong>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
      <div>
        <button mat-button color="accent" matStepperPrevious>Back</button>
        <button mat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="threeFormGroup">
    <form [formGroup]="threeFormGroup">
      <ng-template matStepLabel>Frecuency Time</ng-template>
      <mat-form-field>
        <input matInput type="number" formControlName="threeCtrl" [(ngModel)]="intervalTimefrm"
          placeholder="Type a time in seconds" required>
      </mat-form-field>
      <div>
        <button mat-button color="accent" matStepperPrevious>Back</button>
        <button mat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="fourFormGroup">
    <form [formGroup]="fourFormGroup">
      <ng-template matStepLabel>Max Request</ng-template>
      <mat-form-field>
        <input matInput type="number" formControlName="fourCtrl" [(ngModel)]="maxRequest"
          placeholder="Type an max Request number" required>
      </mat-form-field>
      <div>
        <button mat-button color="accent" matStepperPrevious>Back</button>
        <button mat-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button color="accent" matStepperPrevious>Back</button>
        <button mat-button color="accent" matStepperPrevious (click)="stepper.reset()">Reset</button>
        <button mat-button color="primary" (click)="startRequest()" >Start</button>
      </div>
    </mat-step>
</mat-vertical-stepper>