<form class="border border-light p-5" (ngSubmit)="f.form.valid && startRequest()" #f="ngForm">

  <p class="h4 mb-4 text-center"><strong>Track Odds's Configuration</strong> </p>
  <p class="h4 mb-3 text-center">Matches in live</p>
  <div class="form-row">
    <div class="form-group col-md-4">
      <div class="form-group">
        <label for="sportFormSelectControl" class="col-sm-4 col-form-label">Sport</label>
        <div class="col-sm-12">
          <select class="form-control" id="sportFormSelectControl" required>
            <option>SOCCER</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group col-md-8">
      <label for="leagueFormControlSelect1" class="col-sm-8 col-form-label">League</label>
      <div class="col-sm-12">
        <select class="form-control" id="leagueFormControlSelect1" required (click)="getMatchesInplay()">
          <option>SELECT A LEAGUE</option>
          <option *ngFor="let league of onlyLeagues" (click)="getHomeAndAway(league.id)">
            {{league.name}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="matchesInLiveFormControlSelect" class="col-sm-10 col-form-label">Matches In-play</label>
    <div class="container">
      <mat-radio-group class="example-radio-group" name="s" [(ngModel)]="FI" *ngIf=leagueChoosed>
        <mat-radio-button class="example-radio-button" *ngFor="let match of leagueSelected; let i = index"
          [value]="match.id">
          <font color=green> {{match.home}}</font><font color=black> - </font><font color=red>{{match.away}}</font>
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputIntervalTimeID" class="col-sm-12 col-form-label">Frecuency (t)</label>
      <div class="col-sm-12">
        <input type="number" class="form-control" id="inputIntervalTimeID" placeholder="Time in seconds"
          [(ngModel)]="intervalTimefrm" name="inputIntervalTimeName" required>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="inputIntervalRequestNumberID" class="col-sm-12 col-form-label">Request Number</label>
      <div class="col-sm-12">
        <input type="number" class="form-control" id="inputIntervalRequestNumberID" placeholder="Request Number"
          [(ngModel)]="requestNumber" name="inputIntervalRequestNumber" required>
      </div>
    </div>
  </div>
  <div class="form-group text-center">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Start</button>
    </div>
  </div>
</form>