.menu {
  height: 70px;
  /*IMPORTANTE*/
  justify-content: center;
  align-items: center;
}

.father {
  height: 40px;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.border1 {
  border: solid .5em;
  padding: .5em;
   
  /* non-essential, just to prettify the thing */
  margin:  auto;
  width: 80%; height: 610px;
  text-align: center;
  display: block
}
.border2{
  background: white;
  text-align: left;
  background: whitesmoke;
}

.soon1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.soon2 {
  width: 700px;
}



.soon3 {
  width: 1028px;
  padding: 2rem;
}
.fatherForm {
  height: 100%;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.soonForm {
  width: 80%;
}

.example-viewport {
  height: 510px;
  padding: 2em;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}
.father3 {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}