.father {
    height: 750px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .soon {
    width: 700px;
  }

.father2 {
  text-align: center;
}
.soon2 {
  display: inline-block;
}
