<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Deutsche Sporthochschule Köln</h5>
      <span class="text-muted">OddsTracker-Demo.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"
            [routerLink] = "[ '/' ]" routerLinkActive = "active">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="nav-item nav-link" [routerLink] = "[ '/home' ]" routerLinkActive = "active">Home </a>
    <a class="nav-item nav-link" [routerLink] = "[ '/home/track-odds' ]" routerLinkActive = "active" >Track Odds</a>
    <a class="nav-item nav-link" href="#">About us</a>
    <a class="nav-item nav-link" href="#">Contact us</a>
    <a></a>
    <a></a>
    <a></a>
    <a></a>
    <a></a>
    <a></a>

  </nav>
</div>

