<app-menu></app-menu>
<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full"
  style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Deutsche_Sporthochschule_K%C3%B6ln_Pano_%2833490526782%29.jpg/1500px-Deutsche_Sporthochschule_K%C3%B6ln_Pano_%2833490526782%29.jpg')">
  <img class="img-fluid d-block mx-auto" src="../../../assets/logo.jpg" alt="">
</header>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1>Track Odds Application</h1>
    <p class="lead">This application is in a version Beta.</p>
    <p>Track the soccer odds second by second in live, or whatever interval time that you want. It provides the
      information from the page Bet365.com by BetsApi.<br>
      This application has to ways to tracks odds: </p>
      <ul>
        <li><strong>In-PlayEvent:</strong> It tracks the odds of the matches already playing in the moment.</li>
        <li><strong>Upcoming Event: </strong> It tracks the odds of the upcoming events, normally you can see matches
          about the same day that you try searching a match</li>
      </ul>
    
  </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 200px;"></div>
</section>
<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Developed by Ronald Ibanez - 2019</p>
  </div>
  <!-- /.container -->
</footer>