.father {
  height: 800px;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.soon {
  width: 700px;
}

.father3 {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.soon3 {
  width: 1000px;
}
