<div class="menu">
  <app-menu></app-menu>
</div>
<div class="border1">
  <div class="border2">
    <mat-tab-group>
      <mat-tab label="Configuration" [disabled]="tabGroupFlag">
        <div class="soon1">
          <div class="soon2">
            <app-form-upcoming-event></app-form-upcoming-event>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Match Progress" [disabled]="!tabGroupFlag">
        <blockquote class="blockquote text-center">
          <p class="mb-0">Deutsche Sporthochschule Koln</p>
          <footer class="blockquote-footer">Live Match <br><strong>League:</strong> {{headerTeams.leagueUp}} <br><cite
              title="Source Title">
              <strong>Teams:</strong> {{headerTeams.homeUp}} - {{headerTeams.awayUp}} <br>
            </cite></footer><span #score></span>
          <br><strong><span #inPlayTime></span></strong>
          <br><span #statusMatch>Not Started...!</span>
        </blockquote>
        <div *ngIf="timeToWaitFlag">
          <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          Match starts in: <span #timeToWait>00:00:00</span>
        </div><br><hr>
        <div class="example-button-row">
          <button type="button" class="btn btn-danger" (click)="stopTrackingEvent()"
            [disabled]="stopButton">Stop</button>
          <button type="button" class="btn btn-dark" 
          (click)="exportAsXLSX()" [disabled]="exportButton" 
          matTooltipClass="example-tooltip-red" matTooltip="If the match started, you can export the data whenever you want!!!">Export
            Excel</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>